* {
    box-sizing: border-box;
}
#contenedor {
    width: 600px;
    margin: auto;
    height: 560px;
    font-family: 'Lato', sans-serif;
}
.caja {
    border-right: 1px solid #000;
    height: 500px;
    float: left;
    padding: 16px;
    text-align: justify;
}
.antes, .ahora {
    width: 200px;
}
.antes {
    border-left: 1px solid #000; 
}
.monopoly {
    padding-top: 50px;
    width: 200px;
}
h3 {
    margin-bottom: 40px;
    text-align: center;
}
.caja img {
    margin-top: 30px;
    width: 100%;
}
.title, .footer {
    margin: 0;
    text-align: center;
    background-color: #ffc107;
    height: 30px;
    border: 1px solid black;
    font-size: 20px;
}
.footer {
    font-size: 15px;
    font-weight: bold;
    padding-top:  4px;
}